.geocoder__results {
	position: absolute;
	margin: 0;
	padding: .5rem 1rem;
	list-style-type: none;
	background-color: white;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.geocoder__result {
	padding: .5rem;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.87);
	font-family: 'Roboto';
}

.geocoder__result:hover {
	opacity: .75;
}

.geocoder__result--focus {
	background-color: #f3f3f3;
}