@import url("https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css");

#nprogress {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
	height: 5px;
    z-index: 9999;
    font-family: 'Roboto';
}

body {
	background-color: #ececec !important;
}

/* Hide extraneous markdown on lesson cards */
.lessons-card .markdown-body>hr:nth-child(1) {
	display: none;
}

.lessons-card .markdown-body>p:nth-child(2) {
    margin: 1rem 0;
    font-weight: 500;
}

.lessons-card .markdown-body>h2:nth-child(3) {
	display: none;
}